RemoteServerController/RscConfig/ConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:RscConfig" elementFormDefault="qualified" targetNamespace="urn:RscConfig" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="staticConfiguration" type="tns:RscConfig.StaticConfigurationCT" />
	<xs:element name="dynamicConfiguration" type="tns:RscConfig.DynamicConfigurationCT" />
	<xs:complexType name="RscConfig.StaticConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="general" type="tns:RscConfig.GeneralCT">
				<xs:annotation>
					<xs:documentation>The General.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="network" type="tns:RscConfig.NetworkCT">
				<xs:annotation>
					<xs:documentation>The Network.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RscConfig.DynamicConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="service" type="tns:RscConfig.ServiceCT">
				<xs:annotation>
					<xs:documentation>The Service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="security" type="tns:RscConfig.SecurityCT">
				<xs:annotation>
					<xs:documentation>The Security.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RscConfig.GeneralCT">
		<xs:attribute name="quitToken" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The QuitToken.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RscConfig.NetworkCT">
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="useSSL" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The UseSSL.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="certificateThumbprint" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CertificateThumbprint.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="crossDomainScriptAccessEnabled" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The CrossDomainScriptAccessEnabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RscConfig.ServiceCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="allowedServiceCollection" type="tns:RscConfig.AllowedServiceCollectionCT">
				<xs:annotation>
					<xs:documentation>The AllowedServiceCollection.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="statusChangeTimeout" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The StatusChangeTimeout.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RscConfig.AllowedServiceCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="allowedService" type="tns:RscConfig.AllowedServiceCT">
				<xs:annotation>
					<xs:documentation>The AllowedService Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RscConfig.AllowedServiceCollectionRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Name.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="RscConfig.AllowedServiceCollectionClearCT" />
	<xs:complexType name="RscConfig.AllowedServiceCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="securityProfile" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SecurityProfile.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allowStart" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AllowStart.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allowStop" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AllowStop.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allowStatusCheck" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AllowStatusCheck.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RscConfig.SecurityCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="securityProfileCollection" type="tns:RscConfig.SecurityProfileCollectionCT">
				<xs:annotation>
					<xs:documentation>The SecurityProfileCollection.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RscConfig.SecurityProfileCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="securityProfile" type="tns:RscConfig.SecurityProfileCT">
				<xs:annotation>
					<xs:documentation>The SecurityProfile Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RscConfig.SecurityProfileCollectionRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Name.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="RscConfig.SecurityProfileCollectionClearCT" />
	<xs:complexType name="RscConfig.SecurityProfileCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="allowedAPIKeyCollection" type="tns:RscConfig.AllowedAPIKeyCollectionCT">
				<xs:annotation>
					<xs:documentation>The AllowedAPIKeyCollection.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="allowedIPCollection" type="tns:RscConfig.AllowedIPCollectionCT">
				<xs:annotation>
					<xs:documentation>The AllowedIPCollection.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="checkAPIKey" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The CheckAPIKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="checkIPAddress" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The CheckIPAddress.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RscConfig.AllowedAPIKeyCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="allowedAPIKey" type="tns:RscConfig.AllowedAPIKeyCT">
				<xs:annotation>
					<xs:documentation>The AllowedAPIKey Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RscConfig.AllowedAPIKeyCollectionRemoveCT">
				<xs:attribute name="value" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Value.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="RscConfig.AllowedAPIKeyCollectionClearCT" />
	<xs:complexType name="RscConfig.AllowedAPIKeyCT">
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RscConfig.AllowedIPCT">
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RscConfig.AllowedIPCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="allowedIP" type="tns:RscConfig.AllowedIPCT">
				<xs:annotation>
					<xs:documentation>The AllowedIP Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RscConfig.AllowedIPCollectionRemoveCT">
				<xs:attribute name="value" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Value.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="RscConfig.AllowedIPCollectionClearCT" />
</xs:schema>
